.beginning
{
    margin-top: 5em;
}

.talent_header
{
    position: relative;
    padding-top: 5vw;
    text-align: center;
    width: 100%;
    height: auto;
}

.text
{
    text-indent: 4em;
	position: relative;
	margin-left: 20%;
	margin-right: 20%;
}

.imageContainer 
{
    position: relative;
    width: 40vw;
    height: 40vw;
    margin-left: 4vw;
}

@media only screen and (max-width:1150px) 
{
    .imageContainer
    {
        display: none;
    }
}