/* Carousel */
.carousel
{
	position: relative;
	width: 100%;
}

.pic
{
    width: 100%
}

.carousel .slide .legend {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: absolute;
	top: 4%;
	left: 50%;
	bottom: auto;
	margin-left: 13%;
	width: 35%;
	border-radius: 10px;
	background-color: transparent;
    /* background-color: rgba(3, 152, 158, 0.3);
    background: linear-gradient(to right, transparent, #03989e); */
	color: #fff;
	padding: 10px;
	opacity: 1;
	-webkit-transition: opacity 0.35s ease-in-out;
	-moz-transition: opacity 0.35s ease-in-out;
	-ms-transition: opacity 0.35s ease-in-out;
	-o-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
	padding-top: 8%;
}

.carousel_talent_text
{
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
	/* margin-right: 40%;
	text-align: right; */
}

.mobile_logo
{
	display: none;
	position: relative;
	margin-top: 5vw;
	margin-bottom: 5vw;
	margin-left: auto;
	margin-right: auto;
	width: 50%;

}

.slideshow_title
{
	color: white;
}

.shifted
{
	margin-left: -2vw !important;
}

h1
{
	/* transform: scale(1.2, 1); */
	font-size: 2.7vw !important;
	letter-spacing: 0.2em;
	padding-bottom: 2vw;
}

p
{
	font-size: 2.3vw;
}


.text_center
{
	text-align: center;
}

/* Button */

/* Container */
.how
{
	position: relative;
	width: 100%;
	height: 100%;

	margin-top: 10vw;

	background: 
	linear-gradient(white, transparent, white),
	url("../../../assets/website_imgs/background.png")
}

.header
{
	margin-top: 5vw;
	text-align: center;
}

.process
{
	margin-left: 10%;
	margin-right: 10%;
	color: #03989e;
}

/* .row
{
    position: relative;
    width: 100%;
    height: auto;
} */

.row:after
{
	content: "";
	display: table;
	clear: both;
}

.column
{
	float: left;
	width: 26.6%;
	text-align: center;
    padding: 3.3%;
}

.icon_text
{
	text-indent: 0;
	font-size: 2em;
}

.icons
{
	position: relative;
	margin: auto;
	font-size: 10vw;
}

.mobile_button
{
	display: none;
}

@media only screen and (max-width:600px)
{
	.icon_text
	{
		font-size: 1.5em;
	}
}

@media only screen and (max-width:768px)
{
	.mobile_logo
	{
		display: block;
	}

	.mobile_button
	{
		display: block !important;
		position: relative;
		margin-top: 10vw;
		margin-left: 22vw;
	}

	.icon_text
	{
		display: none;
	}

	.slideshow_title
	{
		/* transform: scale(1, 1); */
		margin-left: -22vw;
		font-size: 5vw !important;
	}
	.talent
	{
		padding-left: 20vw;
	}

	.text_center
	{
		margin-top: 10vw;
	}

	.carousel_talent_text
	{
		font-size: 2.5vw;
	}
}