@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/BebasNeue/eot/BebasNeue-Regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/BebasNeue/woff2-cffbased/BebasNeue-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/BebasNeue/woff-cffbased/BebasNeue-Regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/BebasNeue/ttf/BebasNeue-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/BebasNeue/otf/BebasNeue-Regular.otf') format('otf');
}

body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}