footer {
    position: relative;
    
    background-color: white;
    width: 100%;
}

.copyright {
    color: #777777;
    text-align: right;
    padding-right: 2vh;
    padding-top: 2vh;
    width: auto;
}

.social_media_icons
{
    color: #E3CF9D;
    float: left;
    margin-left: 1%;
    font-size: 3rem;
}