/* Top Bar */

.top_bar {
    background-color: #ffffff;

    width: auto;
    height: 5vw;
}

.logo
{
    margin-left: 2vw;
    margin-right: 2vw;
    height: 5vw;
}

/* #03989e; */

/* CSS Fonts Stack */
h1 { font-family: Cambria, Georgia, serif; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; }
h3 { font-family: Cambria, Georgia, serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; }
p { font-family: Cambria, Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }
blockquote { font-family: Cambria, Georgia, serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }
pre { font-family: Cambria, Georgia, serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }